@import './reset.scss';
@import './variables.scss';
@import './iconFonts.scss';

body{
    font-family: $primary-font;
}


.container{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}



