@import '../../../../assets/style/variables.scss';
.userInfo{
    display: flex;
    align-items: center;
    &__body{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

}